add-location-user-free {
    ion-item{
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    ion-item h4 {
        margin-top: 0 !important;
    }
    ion-item.days{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #repeats-days {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        h4 {
            width: 10%;
            flex-basis: 10%;
            text-align: center;
            margin-top: 0 !important;
            font-size: 1.5rem !important;
            color: #c7cbcf;
            font-weight: bold;
        }
        h4.select {
            color: #fe324d !important;
        }
    }
}