to-chat-to-perfil-player {
    background-color: rgba(0, 0, 0, .4);
    
    #question{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: auto;
        width: 100%;
        padding: 5px 10px;
        padding-bottom: 50px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        h2{
            flex-basis: calc(100% - 40px);
            width: calc(100% - 40px);
        }
        .ion-md-close-circle{
            flex-basis: 40px;
            width: 40px;
            font-size: 40px !important;
            text-align: center;
        }
        div{
            flex-basis: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-top: 25px;

        }
    }

    .select-button{
        background-color: #1c746e !important;
    }
}
