page-login {
	ion-content{
		background: url(./../assets/imgs/login-bg.jpg);
	}
	.item-md.item-block .item-inner {
		padding-right: 0px !important;
		border-bottom: transparent !important;
	  }

	  ion-item, .item-inner{
		  box-shadow: 0 0 0 !important;
	  }

	.content{
	    background-size: cover;
		background-position: center;
	}
	.content-login{
		background: transparent;
	    padding: 10px 30px;
	}
	.icon-login{
		text-align: center;
		width: 100%;
		background-image: url(./../assets/imgs/logo-login.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 100px;
		margin: 20px 0;
	    vertical-align: middle;
	    line-height: 100px;
	}

	ion-item{
		background-color: rgba(255, 255, 255, .3) !important;
		border: 1px solid rgba(255, 255, 255, .3) !important;
		margin-bottom: 10px !important;
	}

	::-webkit-input-placeholder { 
		color: white !important;
		font-family:  "Date_Event";
		text-transform: uppercase;
		white-space: 2px;
		font-weight: 100 !important;
	}

	button{
		background-color: #83cd22 !important;
		height: 4.6rem !important;
		display: block !important;
		width: 100% !important;

		font-family:  "Date_Event";
		font-weight: 100 !important;
		font-size: 2.2rem !important;
		color: white !important;
		text-transform: uppercase;
		line-height: 5rem !important;
	}

	.btn-register, a{
		color: white !important;
		font-size: 1.5rem !important;
		text-align:  center !important;
		text-transform: uppercase !important;
	}

	.join-team{
		width: 100%;
		a{
			width: 150px !important;
			margin-left: calc(50% - 75px) !important;
			text-align: center !important;
			display: block !important;
		}
	}

	.forgot{
		width: 100%;
		margin-top: 40px !important;
		a{
			font-weight: bold !important;
			text-decoration: none !important;
		}
	}

	.list-md .item-block .item-inner{
		border: none !important;
	}

	.list-ios > .item-block:first-child{
		border-top: none;
	}
	.btn-forgot{
		cursor: pointer;
	    display: block;
	    text-align: center;
	}
	.btn-register{
		text-align: center;
	    display: block;
	    margin:20px 0;
	}
	.item-checkbox .item-inner, .forgotPassword{
		border-bottom: none !important;
	}
	.social-network{
		text-align: center;
		margin-bottom: 10px;
		.icon{
			font-size: 2em;
			cursor: pointer;
			padding: 5px
		}
		.ion-logo-googleplus{
			color: #ff5723;
		}
		.ion-logo-twitter{
			color: #51cae3;
		}
		.ion-logo-facebook{
			color: #0066eb;
		}
		.ion-logo-instagram{
			color: #f54b5e;
		}
	}
}
