page-list-players-payment {

    ion-item.multi{
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
    }

    ion-item.select{
        background-color: #e0e0e0 !important;
        border-radius: 5px !important;
    }
}
