page-edit-event {
    #map_canvas2{
        width: 100%;
        height: 50%;
    }
    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
    }

    ion-item h4{
        margin-top: 0 !important;
    }

    ion-list-header{
        font-size: 13pt !important;
        text-transform: uppercase !important;
        padding-top: 30px !important;
        margin-bottom: 0 !important;
    }
    
    #repeats-days{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        h4{
            width: 10%;
            flex-basis: 10%;
            text-align: center;
            margin-top: 0 !important;
            font-size: 1.5rem !important;
            color: #c7cbcf;
            font-weight: bold;
        }
        h4.select{
            color: #fe324d !important;
        }
    }

    #map_canvas{
        margin-left: -15px;
        width: calc(100% + 32px) !important;
    }
}
