page-edit-event {
    #map_canvas2{
        width: 100%;
        height: 50%;
    }
    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
    }

    ion-list-header{
        font-size: 13pt !important;
        text-transform: uppercase !important;
        padding-top: 30px !important;
        margin-bottom: 0 !important;
    }
}
