page-chat-one-person {
    #online{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5px;
        .icon-online{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fe324d;
        }
        span{
            text-align: center;
            width: 100%;
            flex-basis: 100%;
            font-size: 1.2rem;
        }
        .icon-online.not{
            background-color: #ffb9c2 !important;
        }
    }
    $userBackgroundColor: #fff;
    $toUserBackgroundColor: #fe324d;
    #loadtoUp {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .user-img {
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
    }
    ion-title div {
        font-size: 1.7rem !important;
        padding-left: 15% !important;
    }
    ion-content .scroll-content {
        background-color: #f2f5f8;
    }
    ion-footer {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
        background-color: #fff;
        height: 255px;
    }
    ion-icon {
        color: #5d6d81 !important;
    }
    .footer ion-icon {
        font-size: 1.2em !important;
    }
    .line-breaker {
        white-space: pre-line;
    }
    .input-wrap {
        padding: 0 5px;
        ion-textarea {
            position: static;
        }
        ion-col.col {
            padding: 0;
        }
        button {
            width: 100%;
            height: 55px;
            font-size: 1.3em;
            margin: 0;
        }
        textarea {
            border-bottom: 1px $userBackgroundColor;
            border-style: solid;
        }
    }
    .message-wrap {
        padding: 0 10px;
        .message {
            position: relative;
            padding: 7px 0;
            .msg-detail {
                width: 100%;
                display: inline-block;
                p {
                    margin: 0;
                }
                .msg-info {
                    p {
                        font-size: .8em;
                        color: #888;
                    }
                }
                .msg-content {
                    position: relative;
                    margin-top: 5px;
                    border-radius: 5px;
                    padding: 8px;
                    border: 1px solid #ddd;
                    color: #fff;
                    width: auto;
                    max-width: 80%;
                    span.triangle {
                        background-color: #fff;
                        border-radius: 2px;
                        height: 8px;
                        width: 8px;
                        top: 12px;
                        display: block;
                        border-style: solid;
                        border-color: #ddd;
                        border-width: 1px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        position: absolute;
                    }
                }
            }
            .views {
                display: flex;
            }
        }
        .message.left {
            .msg-content {
                background-color: $toUserBackgroundColor;
                float: left;
            }
            .msg-detail {
                // padding-left: 60px;
            }
            .msg-content {
                color: white;
                border-radius: 10px;
                border-top-left-radius: 0;
                span.triangle {
                    border-top-width: 0;
                    border-right-width: 0;
                    left: -5px;
                }
            }
            .views {
                display: none !important;
            }
        }
        .message.right {
            .msg-detail {
                // padding-right: 60px;
                .msg-info {
                    text-align: right;
                }
            }
            ion-spinner {
                position: absolute;
                right: 10px;
                top: 50px;
            }
            .msg-content {
                background-color: $userBackgroundColor;
                float: right;
                color: #5d6d81;
                border-radius: 10px;
                border-top-right-radius: 0;
                span.triangle {
                    background-color: $userBackgroundColor;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    right: -5px;
                }
            }
            .views {
                justify-content: flex-end;
            }
        }
        .message.success{
            .views ion-icon {
                color: #fe324d !important;
                font-weight: bold;
            }
        }
    }
}