<ion-header>
  <ion-navbar color="base">
      <ion-buttons left>
              <button ion-button icon-only (click)="viewCtrl.dismiss()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title>{{"ASSISTENCEEVENT.TITLES" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let assistence of assistences;" (click)="toAssitence(assistence)" >
      {{assistence.dateTime | date:'EEEE, MMMM d, y, hh a'}}
    </ion-item>
  </ion-list>

  <ion-fab bottom right [hidden]='user.role.name !== "Manager" ' >
    <button color="base" ion-fab icon-only (click)="addSheetAtendence()" >
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
