<ion-header>
    <ion-navbar color="base">
        <ion-buttons left [hidden]="!modal">
                <button ion-button icon-only (click)="viewCtrl.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{"ASYNGPAYMENT" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <!-- para agregar un pago al jugador o jugadores seleccionados -->
<ion-list >

    <!--ion-item>
      <ion-label floating>{{"NAME" | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="name" ></ion-input>
    </ion-item-->

    <ion-item>
      <ion-label floating>{{"DESCRIPTION" | translate}}</ion-label>
      <ion-textarea [(ngModel)]="description" ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"QUANTITY" | translate}} $</ion-label>
      <ion-input type="number" [(ngModel)]="quantity" ></ion-input>
    </ion-item>

    <button ion-button (click)="asingPayment()" >{{"SAVE" | translate}}</button>
</ion-list>


  <!-- para agregar un pago al jugador o jugadores seleccionados -->
  <ion-list [hidden]="!multi">
      <ion-item *ngFor="let player of players" >
  
       <ion-avatar item-start style="cursor: pointer;" [hidden]="!player.loadImage">
          <img [src]="player.image" (load)="successPlayer(event, player);">
        </ion-avatar>
    
        <ion-avatar item-start style="cursor: pointer;" [hidden]="player.loadImage">
          <img src="./assets/imgs/user.png">
        </ion-avatar>
        {{player.user.firstName+ " "+ player.user.lastName}}
      </ion-item>
    </ion-list>

</ion-content>
