page-events-schedule {
    ion-navbar{
        height: auto !important;
    }
    .toolbar-background-md, .toolbar-background{
        background-color: white !important;
    }
    button[menutoggle]{
        color: #0076a4 !important;
    }
    .toolbar-title,.toolbar-title-md{
        color: black !important;
        padding-left: calc(50% - 12rem);
        text-transform: uppercase !important;
        font-size: 4rem;
        padding-bottom: 0;
        padding-top: 0;
    }

    #select-by{
        margin-top: -4px;
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        background-color: white !important;
        justify-content: space-around;
        padding: 10px 0 14px 0;
        /*box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.14),
            0 3px 0 0 rgba(0, 0, 0, 0.2), 
            0 1px 0 0 rgba(0, 0, 0, 0.12);*/

        .select-by{
            width: auto;
            flex-basis: auto;
            height: 100%;
            border-radius: 20px !important;
            box-shadow: 0 0 0 0 transparent !important;
            background-color: transparent;
            color: #0076a4;
            padding: 0 20px;
            .button-inner{
                display: flex !important;
                flex-wrap: wrap;
                flex-direction: row;
                ion-icon{
                    transform: rotate(180deg);
                    height: 10px;
                    color: #e8eaf6 !important;
                    font-size: 25pt;
                    margin-bottom: -15px;
                }
                pre{
                    font-family: inherit !important;
                    font-size: .8em;
                }
                ion-icon, pre{
                    display: block;
                    width: 100%;
                    text-align: center;
                    flex-basis: 100%;
                }
            }
        }
    }

    .no-events{
        height: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        h4{
            text-align: center;
            width: 100%;
            flex-basis: 100%;
            color: #008e76 !important;
            a{
                color: #1a5d58 !important;
                text-decoration: none !important;
            }
        }
    }

    .asistence{
        ion-col{
            padding: 0 !important;
            button{
                padding: 0 !important;
            }
        }
    }

    .text-event{
        font-family: "Text_Event" !important;
        display: flex;
        justify-content: space-between;
        i{
            width: auto;
            flex-basis: auto;
        }
    }

    .date-event{
        font-family: "Date_Event" !important;
    }

    ion-content{
        background-color: #e8eaf6 !important;

        .select{
            background-color: #0076a4 !important;
            color: white !important;
        }
    }

    .scroll-content{
        padding-top: 38px;
    }

    ion-card{
        border-radius: 0 !important;
        margin-top: 3px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        width: 100% !important;

        .ball{
            width: 1em;
            height: 1em;
            border-radius: 50%;
            margin-right: 7px;
        }

        .text-inner-button{
            font-size: 1.4em !important;
        }

        .mas{
            background-color: #088c75 !important;
        }
        .mas-text{
            color: #088c75 !important;
        }

        .menos{
            background-color: #ffe430 !important;
        }
        .menos-text{
            color: #ffe430 !important;
        }

        .talves{
            background-color: #e20666 !important;
        }
        .talves-text{
            color: #e20666 !important;
        }
    }

    ion-card:first-child{
        margin-top: 20px !important;
    }

    ion-card.event{

        .dateTime, .details, .asistencia{
            display: none !important;
        }

        .inner-image{
            width: 100%;
            height: 250px;
            img{
                width: 100%;
                object-fit: fill;
                height: 250px;
            }
            .dateTimeEvent{
                background-color: rgba(255, 255, 255, 0.5);
                padding: 10px !important;
                position: relative;
                top: -124px;
                display: inline-block;
                right: calc(-73.3% + 30px);
                h3{
                    font-size: 3rem !important;
                }
                h4{
                    font-size: 2.4rem !important;
                }
                h3, h4{
                    color: #272928 !important;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .divider{
            width: 100%;
            height: 1px;
            background: rgba(33, 32, 32, 0.16);
        }

        ion-card-content{
            ion-card-title{
                font-size: 14pt !important;
                color: rgba(0, 0, 0, 0.616) !important;
                padding: 5px 15px !important;
            }
        }
    }

    ion-card.practice, ion-card.game{

        //Para ocultar lo que es solo para eventos
        ion-card-content, .inner-image{
            display: none !important;
        }

        display: flex !important;
        align-content: flex-start;
        flex-wrap: wrap;
        .dateTime{
            width: 100px;
            flex-basis: 100px;
            padding-top: 10px;
            h3{
                font-size: 2.2rem !important;
            }
            h4{
                font-size: 2.8rem !important;
            }
            h4.daily{
                font-size: 2.4rem !important;
                height: 100%;
                position: relative;
                line-height: 7rem;
            }
        }
        .details{
            width: calc(100% - 100px);
            flex-basis: calc(100% - 100px);
            padding: 10px;
            padding-left: 0;
            h2, p{
                color: black !important;
            }
            h2{
                font-size: 1.8rem !important;
            }
            p{
                font-size: 1.4rem !important;
            }
        }
    }

    ion-card.game{
        border-left: 4px outset #0076a4;
        .dateTime{
            h3, h4{
                color: #0076a4 !important;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .asistencia{
            padding-left: 16px !important;
            padding-right: 16px !important;
            font-size: 1.4rem;
            line-height: 1.5;
        }
    }
    
    ion-card.practice{
        border-left: 4px outset #d26b0f;
        .dateTime{
            h3, h4{
                color: #d26b0f !important;
                text-transform: uppercase;
                text-align: center;
            }
        }
        .asistencia{
            display: none !important;
        }
    }

}
