<ion-header>

  <ion-navbar>
    <!-- <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->

    <!-- 
    <ion-buttons end>
      <button ion-button>{{"PRACTICE" | translate}}</button>
    </ion-buttons> -->
    <ion-row>
      <ion-title> {{ 'EVENTS.TITLE' | translate }} </ion-title>
      <ion-select [(ngModel)]="filter" (ionChange)="filterEvents()">
        <ion-option value='all'>{{ 'ALL' | translate }}</ion-option>
        <ion-option value='practice'>{{ 'NEWEVENT.TYPES.PRACTICE' | translate }}</ion-option>
        <ion-option value='game'>{{ 'NEWEVENT.TYPES.GAME' | translate }}</ion-option>
        <ion-option value='event'>{{ 'NEWEVENT.TYPES.EVENT' | translate }}</ion-option>
      </ion-select>
    </ion-row>
  </ion-navbar>

</ion-header>

<div class="overlay shown" [hidden]="firstTime" (click)="hideOverlay()">
  <div class="header-tutorial">
    <img src="./assets/imgs/up-arrow.png" alt="">
    <p>Click the menu button to access more options like inviting athletes to your roster</p>
  </div>
  <br><br><br>
  <div class="bottom-tutorial">
    <h2>Create a new event below</h2>
    <h2>Everyone on your Roster will be Notified with new &amp; updated Events</h2>
  </div>
  <div class="img-down" text-right>
    <img src="./assets/imgs/down-arrow.png" alt="" width="70px">
  </div>
</div>


<ion-content>
  <div ion-fixed id="select-by">
    <button color="pdark" ion-button [ngClass]="by == 'past' ? 'select' : ''" class="select-by" (click)="byS('past')">
      <pre>{{ 'EVENTS.PAST' | translate }}</pre>
    </button>
    <button ion-button color="pdark" [ngClass]="by == 'upcoming' ? 'select' : ''" class="select-by" (click)="byS('upcoming')">
      <pre>{{ 'EVENTS.UPCOMING' | translate }}</pre>
    </button>
  </div>

  <div [hidden]="!event0||user.role.name!=='Manager'" class="no-events">
    <h4>{{"EVENTS.NOEVENT" | translate}}
      <a href="#" (click)="addEvent()">{{'HERE' | translate}}!</a>
    </h4>
  </div>


  <ion-card *ngFor="let e of events" [ngClass]="e.type">

    <!-- esto es para mostrar un color en la esquina derecha se muestra segun su tipo -->
    <div class="color-right"></div>
    <!-- este es para events type -->
    <div class="inner-image" (click)="goEvent(e)" [ngClass]="e.loadImage===true?'is-image':'not-image'" [ngStyle]="{'background-image': 'url(' + e.imageSrc + ')'}">
      <img (click)="goEvent(e)" [src]="e.imageSrc" hidden (load)="loadImage(e)">

      <h2>{{e.name}}</h2>

      <div class="dateTimeEvent" (click)="goEvent(e)">
        <!-- para mostrar el punto rojo cuando un evento no ha sido visto -->
        <div class="not-view" *ngIf="inViews(e)"></div>

        <h3 class="date-event" [hidden]="e.repeatsDaily">{{e.parsedDateTime[0]}}</h3>
        <h4 class="date-event" [hidden]="e.repeatsDaily">{{e.parsedDateTime[1]}}</h4>
        <h4 class="date-event daily" [hidden]="!e.repeatsDaily">{{"DAILY" | translate}}</h4>
      </div>
    </div>

    <div class="details-event" [ngClass]="e.loadImage===true?'is-image':'not-image'" (click)="goEvent(e)">
      <p class="text-event">{{e.description}} </p>
      <i>{{e.Time}}</i>
    </div>

    <!-- este es para events type practice and game -->
    <div class="dateTime" [ngClass]="e.loadImage===true?'is-image':'not-image'" (click)="goEvent(e)">
      <!-- para mostrar el punto rojo cuando un evento no ha sido visto -->
      <div class="not-view" *ngIf="inViews(e)"></div>
      
      <h3 class="date-event" [hidden]="e.repeatsDaily">{{e.parsedDateTime[0]}}</h3>
      <h4 class="date-event" [hidden]="e.repeatsDaily">{{e.parsedDateTime[1]}}</h4>
      <h4 class="date-event daily" [hidden]="!e.repeatsDaily">{{"DAILY" | translate}}</h4>
    </div>

    <div class="details" [ngClass]="e.loadImage===true?'is-image':'not-image'" (click)="goEvent(e)">
      <h2 class="text-event">{{e.name}}</h2>
      <p class="text-event" [hidden]="e.description === ''">{{e.description}}</p>
    </div>

    <div class="dividir" [hidden]="e.location.detail===''"></div>
    <div class="details-location" [hidden]="e.location.detail===''" (click)="goEvent(e)">
      <p>{{e.location.detail}}</p>
      <i>{{e.Time}}</i>
    </div>

    <div class="dividir"></div>

    <ion-row class="asistencia">
      <ion-col col-2>
        <button ion-button (click)="asingResponse(e, 'yes')" [ngClass]="{'select': e.likeUp }" icon-left clear small>
          <!-- <ion-icon class="ball cero" [hidden]="e.countYes!==0"></ion-icon> -->
          <ion-icon class="ball mas"></ion-icon>
          <div class="text-inner-button text-event">{{e.countYes}}</div>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="asingResponse(e, 'maybe')" [ngClass]="{'select': e.likeDown }" icon-left clear
          small>
          <!-- <ion-icon class="ball cero" [hidden]="e.countMaybe!==0"></ion-icon> -->
          <ion-icon class="ball talves"></ion-icon>
          <div class="text-inner-button text-event">{{e.countMaybe}}</div>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="asingResponse(e, 'no')" [ngClass]="{'select': e.likeDown }" icon-left clear small>
          <!-- <ion-icon class="ball cero" [hidden]="e.countNo!==0"></ion-icon> -->
          <ion-icon class="ball menos"></ion-icon>
          <div class="text-inner-button text-event">{{e.countNo}}</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="chat" [ngClass]="e.comments.length!==0 ? 'mas': ''" (click)="viewComment(e)">
          <div class="text-event">{{e.comments.length}}</div>
          <img class="chat-0" src="./assets/imgs/chat-0.png" [hidden]="e.comments.length!==0">
          <img class="chat-more" src="./assets/imgs/chat-1.png" [hidden]="e.comments.length===0">
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab bottom right [hidden]='addButtonHidden()'>
    <button ion-fab icon-only (click)="addEvent()" class="invite-btn" [ngClass]="!firstTime ? 'tutorial-btn' : 'test'">
      <ion-icon name="md-add"></ion-icon> {{"CREATEEVENT" | translate}}
    </button>
  </ion-fab>

</ion-content>