page-event {
    .location-event{
        h2{
            border-bottom: 1px outset #f3f3f3;
            margin-bottom: 10px;
        }
    }

    ion-card{
        margin-top: 0px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .top-bottom{
        bottom: 80px !important;
    }
    
}
