$color-text: rgba(0, 0, 0, 0.616) !important;
page-event {
    #tracking-section{
        height: 100px;
        text-align: center;
        background-color: rgba(0, 0, 0, .1);
        display: flex;
        flex-wrap: wrap;
        div{
            flex-basis: 100%;
            width: 100%;
        }
        .tracking{
            display: flex;
            h3{
                width: 100%;
                flex-basis: 100%;
                line-height: 50px;
                text-align: center;
                font-size: 2rem;
            }
            /*ion-icon{
                width: 33.33%;
                flex-basis: 33.33%;
                text-align: center;
                line-height: 50px;
                font-size: 3rem;
            }*/
        }
        .count{
            height: 50px;
            padding-bottom: 20px;
            text-align: center;
            background-color: transparent;
            display: flex;
            h5{
                width: 33.33%;
                flex-basis: 33.33%;
                line-height: 30px;
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }

    ion-item, ion-card-content{
        p{
            font-size: 11pt !important;
            color: $color-text !important;
        }
        .divider{
            width: 100%;
            height: 1px;
            background: rgba(33, 32, 32, 0.16);
        }
    }

    ion-card{
        margin-top: 0px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        /*padding-top: 65px !important;*/

        .description{
            /*margin-top: -30px !important;*/
            background: transparent !important;
            ion-thumbnail{
                max-height: 40px !important;
                min-height: 40px !important;
                max-width: 40px !important;
                min-width: 40px !important;
                img{
                    border-radius: 100%; 
                    /*border: 1px solid transparent !important;*/
                    object-fit: cover;
                    width: 40px !important;
                    height: 40px !important;
                }
            }
            p{
                /*margin-top: 30px !important;*/
                color: $color-text;
            }
        }
        img{
            border-top: 1px outset #1C746E !important;
            border-bottom: 1px outset #1C746E !important;
        }
        .location-event{
            ion-label{
                margin: 0 !important;
            }

            p{
                margin-top: 10px !important;
            }
        }
    }

    .top-bottom{
        bottom: 80px !important;
    }

    .titles-event{
        font-size: 14pt !important;
        color: $color-text;
        padding: 5px 0 !important;
    }
    
}
