<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"LEAGUE.ADDTEAM.TITLE" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>{{"NEWUSER" | translate}}</ion-label>
      <ion-toggle [(ngModel)]="newUser"></ion-toggle>
    </ion-item>

    <ion-item [hidden]="newUser">
        <ion-label floating>{{"EMAIL" | translate}}</ion-label>
        <ion-input type="email" value="" [(ngModel)]="emailUser"></ion-input>
      </ion-item>
  </ion-list>

  <ion-avatar *ngIf="newUser">
    <img width="100%" [hidden]="!image" (load)="successImageUser()" [src]="imageSrcUser">
    <img width="100%" [hidden]="image" src="./assets/imgs/user.png">
    <ion-fab top right edge class="button-fab-right">
      <button ion-fab color="base" (click)="changePhotoUser()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
  </ion-avatar>

  <ion-list *ngIf="newUser">

    <ion-item>
      <ion-label floating>{{"FIRSTNAME" | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"LASTNAME" | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"EMAIL" | translate}}</ion-label>
      <ion-input type="email" value="" [(ngModel)]="email"></ion-input>
    </ion-item>

  </ion-list>

  <h3>{{"TEAM" | translate}}</h3>
  <ion-list>

    <ion-avatar>
      <img width="100%" [hidden]="!image" (load)="success()" [src]="imageSrcTeam">
      <img width="100%" [hidden]="image" src="./assets/imgs/logo-default.png">
      <ion-fab top right edge class="button-fab-right">
        <button ion-fab color="base" (click)="changePhoto()">
          <ion-icon name="md-camera"></ion-icon>
        </button>
      </ion-fab>
    </ion-avatar>

    <ion-item>
      <ion-label floating>
        {{"NAME" | translate}}
      </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        {{"DESCRIPTION" | translate}}
      </ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>
        {{"CITY" | translate}}
      </ion-label>
      <ion-textarea [(ngModel)]="city"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>
        {{"SPORT" | translate}}
      </ion-label>
      <ion-select [(ngModel)]="sport">
        <ion-option value="baseball&softball">{{"SPORTS.BASEBALL&SOFTBALL" | translate}}</ion-option>
        <ion-option value="soccer">{{"SPORTS.SOCCER" | translate}}</ion-option>
        <ion-option value="basketball">{{"SPORTS.BASKETBALL" | translate}}</ion-option>
        <ion-option value="bowling">{{"SPORTS.BOWLING" | translate}}</ion-option>
        <ion-option value="cheerleading">{{"SPORTS.CHEERLEADING" | translate}}</ion-option>
        <ion-option value="crew&rowing">{{"SPORTS.CREW&ROWING" | translate}}</ion-option>
        <ion-option value="crosscountry">{{"SPORTS.CROSSCOUNTRY" | translate}}</ion-option>
        <ion-option value="fieldhockey">{{"SPORTS.FIELDHOCKEY" | translate}}</ion-option>
        <ion-option value="golf">{{"SPORTS.GOLF" | translate}}</ion-option>
        <ion-option value="hockey">{{"SPORTS.HOCKEY" | translate}}</ion-option>
        <ion-option value="lacrosse">{{"SPORTS.LACROSSE" | translate}}</ion-option>
        <ion-option value="rugby">{{"SPORTS.RUGBY" | translate}}</ion-option>
        <ion-option value="swimming&diving">{{"SPORTS.SWIMMING&DIVING" | translate}}</ion-option>
        <ion-option value="tennis">{{"SPORTS.TENNIS" | translate}}</ion-option>
        <ion-option value="track&field">{{"SPORTS.TRACK&FIELD" | translate}}</ion-option>
        <ion-option value="volleyball">{{"SPORTS.VOLLEYBALL" | translate}}</ion-option>
        <ion-option value="waterpolo">{{"SPORTS.WATERPOLO" | translate}}</ion-option>
        <ion-option value="wrestling">{{"SPORTS.WRESTLING" | translate}}</ion-option>
        <ion-option value="mma">{{"SPORTS.MMA" | translate}}</ion-option>
        <ion-option value="yoga">{{"SPORTS.YOGA" | translate}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <button color="primary" ion-button block (click)="saveAction()">{{"SAVE" | translate}}</button>

</ion-content>