<ion-header>
  <ion-navbar color="base">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"REQUEST" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"FIRSTNAME" | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"LASTNAME" | translate}}</ion-label>
      <ion-input type="text" value="" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"EMAIL" | translate}}</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{"ROLE" | translate}}</ion-label>
      <ion-select [(ngModel)]="role">
        <ion-option value="Manager">{{"MANAGER" | translate}}</ion-option>
        <ion-option value="Player">{{"PLAYER" | translate}}</ion-option>
        <ion-option value="Family">{{"FAMILY" | translate}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item [hidden]="role!='Family'">
      <ion-label floating>{{"SELECTFAMILY" | translate}}</ion-label>
      <ion-select [(ngModel)]="playersSelects" multiple="true">
        <ion-option *ngFor="let player of players;" [value]="player.id">{{player.user.email}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item [hidden]="role!='Family'" *ngFor="let player of playersSelects; let i=index;">
      <ion-label floating>{{"RELATIONSHIP" | translate}} {{"OF" | translate}} {{getEmail(player)}}</ion-label>
      <ion-input type="text" [(ngModel)]="relationships[i]"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button block (click)="sent()">{{"SENT" | translate}}</button>

</ion-content>