<ion-header>

  <ion-navbar color="base">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> {{"NAVMENU.PROFILE" | translate}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <div class="cabezera">
    <div class="avatar">
      <img (click)="changePhoto()" [hidden]="!image" [src]="user.imageSrc" (load)="loadImage()">
      <img (click)="changePhoto()" [hidden]="image" src="./assets/imgs/user.png" style="object-fit: cover;">
    </div>
    <div class="user-text">
      <h2 (click)="editNameFull()">{{user.firstName+ " "+ user.lastName}}</h2>
    </div>
    <div class="user-text">
      <h3 (click)="changeEmailAlert()">{{user.email}}</h3>
    </div>

  </div>

  <ion-list>


    <ion-item (click)="selectTeams()" *ngIf="teamsPresent()">
      <div class="icon-box-bg" item-start>
        <img src="./assets/imgs/change-teams.png" width="40px">
      </div>
      {{"TEAM" | translate}} {{team.name}}
    </ion-item>

    <ion-item (click)="selectLeagues()" *ngIf="user.role.name==='OwnerLeague'">
      <div class="icon-box-bg fourth-bg" item-start>
          <img src="./assets/imgs/change-teams.png" width="40px">
        </div>
      {{"LEAGUE.NAME" | translate}} {{league.name}}
    </ion-item>

    <ion-item (click)="answerDeleteDevices()">
      <div class="icon-box-bg second-bg" item-start>
          <img src="./assets/imgs/logout-all-devices.svg" width="40px">
        </div>
      {{ "CLEARDEVICES" | translate}}
    </ion-item>

    <ion-item (click)="openSelect()">
      <div class="icon-box-bg third-bg" item-start>
          <img src="./assets/imgs/change-language.svg" width="40px">
        </div>
      {{'CHAGELANGUAGE' | translate}}
    </ion-item>

    <ion-item (click)="addTeam()">
      <div class="icon-box-bg" item-start>
          <img src="./assets/imgs/add-team.png" width="40px">
        </div>
      {{'NEWTEAM.ADD' | translate}}
    </ion-item>

    <ion-item (click)="createLeague()">
      <div class="icon-box-bg second-bg" item-start>
          <img src="./assets/imgs/create-league.svg" width="40px">
        </div>
      {{'LEAGUE.CREATE.ACTION' | translate}}
    </ion-item>

    <ion-item (click)="openSelectRolesTypes()" *ngIf="IsValidToTeam()">
      <div class="icon-box-bg third-bg" item-start>
          <img src="./assets/imgs/change-role.svg" width="40px">
        </div>
        {{ "CHANGEROLE" | translate}} ({{user.role.name.toUpperCase() | translate}})    
      </ion-item>

    <ion-item (click)="setting()">
      <div class="icon-box-bg fourth-bg" item-start>
          <img src="./assets/imgs/settings.svg" width="40px">
        </div>
      {{'SETTING.NAME' | translate}}
    </ion-item>

    <ion-item (click)="logout()">
      <div class="icon-box-bg" item-start>
          <img src="./assets/imgs/logout.png" width="40px">
        </div>
      {{'NAVMENU.LOGOUT' | translate}}
    </ion-item>

    <!--  <ion-item (click)="viewsPayments()" [hidden]="user.role.name != 'Player'">
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{ "PAYMENT" | translate}}
    </ion-item>
    <ion-item (click)="goAbout()">
      <ion-icon name="md-lock" item-start></ion-icon>
      {{'PRIVACY&POLICY' | translate}}
    </ion-item>
    <ion-item (click)="viewsPayments()" [hidden]="user.role.name != 'Player'">
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{ "PAYMENT" | translate}}
    </ion-item>

    <ion-item (click)="viewsPlayerPayments()" [hidden]="user.role.name != 'Manager' ">
      <ion-icon name="logo-usd" item-start></ion-icon>
      {{ "PAYMENTPLAYERS" | translate}}
    </ion-item>

    <ion-item (click)="paymentsMonthly()" [hidden]="user.role.name != 'Manager' ">
      <ion-icon name="md-cash" item-start></ion-icon>
      {{"PAYMENTSUBS" | translate}}
    </ion-item> -->

  </ion-list>

  <ion-select [(ngModel)]="lang" hidden (ionChange)='changeLang()' #mySelect>
    <ion-option value="en">English</ion-option>
    <ion-option value="es">Español </ion-option>
  </ion-select>

  <ion-select [(ngModel)]="rolType" hidden (ionChange)='changeRol()' #myRoles>
    <ion-option [value]="rol.id" *ngFor="let rol of rolesTypes;">{{rol.name.toUpperCase() | translate}}</ion-option>
  </ion-select>

</ion-content>