page-view-profile {
    .cabezera{
        width: 100%;
        padding: 20px;
        background-color: #fe324d !important;

        .avatar{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                object-fit: cover;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 3px solid #fff;
            }
        }

        .user-text{
            text-align: center;
            color: #fff;
            width: 100%;
            h2{
                font-size: 18px;
                margin-bottom: 0;
            }
            h3{
                font-size: 15px;
                margin-top: 5px;
            }
        }
    }

    ion-buttons[start]{
        order: 1 !important;
    }

    .text-right-navbar{
        text-align: right !important;
        font-size: 2rem !important;
        font-weight: lighter !important;
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        flex-basis: 90% !important;
    }

    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
        top: -65px !important;
    }

    .list-md .item-block .item-inner{
        border: none !important;
        margin-left: 0 !important;
    }
    ion-item{
        border-bottom: 1px solid lightgrey !important;
        padding: 0px !important;
        // padding-bottom: 10px !important;
        ion-label{
            font-weight: 700;
            color: #000;
            padding-left: 10px;
        }
    }
    ion-list{
        ion-icon{
            padding: 20px;
            background: #55bdbe;
            margin: 0 !important;
            width: 70px;
            color: #fff !important;
        }
    }

    .second-bg{
        background: #d16c94 !important;
    }

    .fourth-bg{
        background: #e7cc61 !important;
    }

    .third-bg{
        background: #7e5486 !important;
    }

    ion-select{
        opacity: 0;
    }


    

    
}
