page-view-profile {
    .cabezera{
        width: 100%;
        height: 300px;
        .avatar{
            height: 100%;
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .text-right-navbar{
        text-align: right !important;
        font-size: 2rem !important;
        font-weight: lighter !important;
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        flex-basis: 90% !important;
    }

    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
        top: -65px !important;
    }
}
