page-view-profile {
    #cabezera{
        width: 100%;
        height: 200px;
        #avatar{
            height: 100%;
            width: 100%;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}
