tracking-event {
    background-color: rgba(0, 0, 0, .4);
    #tracking{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        z-index: auto;
        width: 100%;
        padding: 5px 10px;
        padding-bottom: 50px;
        background-color: #149781;
        div{
            display: flex;
            justify-content: space-around;
            padding-top: 25px;
            button{
                line-height: 50px;
                flex-basis: 25%;
                text-align: center
            }
        }
    }

    .select-button{
        background-color: #1c746e !important;
    }
}
