<ion-header>
  
  <ion-navbar color="base" >
      <ion-buttons left>
          <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
    <ion-title>{{'COMPOSEMESSAGE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label floating>{{'SEARCH' | translate}}...</ion-label>
      <ion-input type="search" [(ngModel)]="search" (keyup)='filter()' ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor='let people of peoples;' (click)='newChat(people)' [hidden]='!people.show || user.id == people.id' >
      <h2>
        {{people.username}}
        <i>{{people.role}}</i>
        <i [hidden]="!people.relationship">{{people.relationship}}</i>
      </h2>
    </ion-item>
  </ion-list>

</ion-content>