<ion-header>

  <ion-navbar color="base">
    <ion-title>{{"REGISTRATION" | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item [ngClass]="userValid===true?'color-label':''">
      <ion-label floating>
        {{"FIRSTNAME" | translate}} <span style="color: red;">*</span>
      </ion-label>
      <ion-input type="text" [ngClass]="userValid==true&&firstname===''?'not-valid':''" [(ngModel)]="firstname"></ion-input>
    </ion-item>

    <ion-item [ngClass]="userValid===true?'color-label':''">
      <ion-label floating>
        {{"LASTNAME" | translate}} <span style="color: red;">*</span>
      </ion-label>
      <ion-input type="text" [ngClass]="userValid==true&&lastname===''?'not-valid':''" [(ngModel)]="lastname"></ion-input>
    </ion-item>

    <ion-item *ngIf="!nohave" [ngClass]="userValid===true?'color-label':''">
      <ion-label floating>
        {{"EMAIL" | translate}} <span style="color: red;">*</span>
      </ion-label>
      <ion-input type="email" [ngClass]="userValid==true&&validEmail(email)===true?'not-valid':''" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{"NOHAVEEMAIL" | translate}}</ion-label>
      <ion-toggle [(ngModel)]="nohave"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="nohave" [ngClass]="userValid===true?'color-label':''">
      <ion-label floating>
        {{"EMAILVERIFICATION" | translate}}
      </ion-label>
      <ion-input type="email" [ngClass]="userValid==true&&validEmail(emailVerification)===true?'not-valid':''" [(ngModel)]="emailVerification"></ion-input>
    </ion-item>

    <p *ngIf="nohave" style="padding-left: 10px;
    padding-right: 10px;">
      {{"EMAILVERIFICATIONMSG" | translate}}
    </p>

    <ion-item>
      <ion-label floating>
        {{"SELECTROLE" | translate}}
      </ion-label>
      <ion-select [(ngModel)]="selectNew" multi="false">
        <ion-option value="team">{{"ROLTEAM" | translate}}</ion-option>
        <ion-option value="agentFree">{{"ROLAGENT" | translate}}</ion-option>
        <ion-option value="ownerLeague">{{"ROLLEAGUE" | translate}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <!--PARA CREAR NEW TEAM-->
  <h2 style="margin-top: 20px;" [hidden]="free">{{"TEAM" | translate}}</h2>

  <ion-avatar [hidden]="selectNew!=='team'">
    <img width="100%" [hidden]="!image" (load)="success()" [src]="imageSrc">
    <img width="100%" [hidden]="image" src="./assets/imgs/logo-default.png">
    <ion-fab top right edge class="button-fab-right">
      <button ion-fab color="base" (click)="changePhoto()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
  </ion-avatar>

  <ion-list [hidden]="selectNew!=='team'">

    <ion-item [ngClass]="teamValid===true?'color-label':''">
      <ion-label floating>
        {{"NAMEOFTEAM" | translate}}
      </ion-label>
      <ion-input [ngClass]="teamValid==true&&nameteam===''?'not-valid':''" type="text" [(ngModel)]="nameteam"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        {{"DESCRIPTION" | translate}}
      </ion-label>
      <ion-textarea [(ngModel)]="description"></ion-textarea>
    </ion-item>

    <ion-item [ngClass]="teamValid===true?'color-label':''">
      <ion-label floating>
        {{"CITY" | translate}}
      </ion-label>
      <ion-input [ngClass]="teamValid==true&&city===''?'not-valid':''" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item [ngClass]="teamValid===true?'color-label':''">
      <ion-label floating>
        {{"SPORT" | translate}}
      </ion-label>
      <ion-select [ngClass]="teamValid==true&&sport===''?'not-valid':''" [(ngModel)]="sport">
        <ion-option *ngFor="let sport of sports" [value]="sport.id">{{sport.value | translate}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <!--PARA CREAR LOCATIONS DE UN AGENT FREE-->
  <h2 style="margin-top: 20px;" [hidden]="selectNew!=='agentFree'">{{"ADDLOCATION.TITLE" | translate}}</h2>

  <ion-list [hidden]="selectNew!=='agentFree'">
    <ion-item *ngFor="let location of locations; let i=index;">
      {{"SPORTS."+location.sport.toUpperCase() | translate}} {{"LEVEL."+location.level.toUpperCase() | translate}}
      <ion-icon color="primary" item-end name="ios-create-outline" (click)="editLocation(location, i)"></ion-icon>
      <ion-icon color="primary" item-end name="ios-remove-circle-outline" (click)="removeLocation(location, i)"></ion-icon>
    </ion-item>
  </ion-list>

  <button ion-button (click)="addLocation()" [hidden]="selectNew!=='agentFree'">{{"ADDLOCATION.ACTION" | translate}}</button>

  <!--PARA CREAR LIGAS-->
  <ion-avatar [hidden]="selectNew!=='ownerLeague'">
    <img width="100%" [hidden]="!imageLeague" (load)="successLeague()" [src]="imageSrcLeague">
    <img width="100%" [hidden]="imageLeague" src="./assets/imgs/logo-default.png">
    <ion-fab top right edge class="button-fab-right">
      <button ion-fab color="base" (click)="changePhotoLeague()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
  </ion-avatar>

  <ion-list [hidden]="selectNew!=='ownerLeague'">
    <ion-item [ngClass]="teamValid===true?'color-label':''">
      <ion-label floating>{{"NAME" | translate}}</ion-label>
      <ion-input type="text" [ngClass]="leagueValid==true&&nameLeague===''?'not-valid':''" [(ngModel)]="nameLeague"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>{{"DESCRIPTION" | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="descriptionLeague"></ion-input>
    </ion-item>
  </ion-list>

  <h3 [hidden]="selectNew!=='ownerLeague'">{{"LEAGUE.CREATE.ADDOWNERS" | translate}}</h3>
  <ion-list [hidden]="selectNew!=='ownerLeague'">
    <ion-item *ngFor="let user of usersOwners; let i = index;">
      <ion-avatar item-start>
        <img src="./assets/imgs/logo-login.png" [hidden]="user.loadImage">
        <img [src]="user.imageSrc" [hidden]="!user.loadImage" (load)="loadImage(role)">
      </ion-avatar>
      <p (click)="setTeam(role)">{{user.firstName+ " "+ user.lastName}}</p>
      <ion-icon color="secondary" name="md-close" (click)="removeOwner(i)" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <button ion-button (click)="addOwners()" [hidden]="selectNew!=='ownerLeague'">{{"ADD" | translate}}</button>

  <h3 [hidden]="selectNew!=='ownerLeague'">{{"LEAGUE.CREATE.ADDTEAMS" | translate}}</h3>
  <ion-list [hidden]="selectNew!=='ownerLeague'">
    <ion-item *ngFor="let team of teamsSelect; let i=index;">
      <ion-avatar item-start>
        <img src="./assets/imgs/logo-login.png" [hidden]="team.loadImage">
        <img [src]="team.imageSrc" [hidden]="!team.loadImage" (load)="loadImage(team)">
      </ion-avatar>
      {{team.name}}
      <ion-icon item-end color="primary" name="md-close" (click)="removeTeam(i)"></ion-icon>
    </ion-item>
  </ion-list>
  <button ion-button (click)="addTeams()" [hidden]="selectNew!=='ownerLeague'">{{"ADD" | translate}}</button>

  <button ion-button block (click)="save()">{{"SAVE" | translate}}</button>

</ion-content>