page-create-player {
    ion-list-header{
        padding-top: 20px !important;
				font-weight-bold: 600;
    }
    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
    }
    ion-item h4{
        margin-top: 0 !important;
    }
}
