view-traking {
    .tabbar{
        opacity: 1 !important;
        position: fixed !important;
        top: 0;
        bottom: auto !important;
    }

    .ion-page.show-page{
        padding-top: 60px !important;
    }

    .scroll-content{

        .scroll-content{
            padding-top: 60px;
        }
    }
}
