assistence {
    ion-item{
        .item-inner{
            border: none !important;
        }
    }

    ion-content{
        ion-icon{
            color: gray;
        }
        .select{
            color: #00bfa5 !important;
        }
        .select-danger{
            color: red !important;
        }
    }
}
