date-time-picker {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: auto;
    background: rgb(255, 255, 255);
    
    span{
        color: #666 !important;
    }

    span.select{
        color: black !important;
    }

    .close-icon{
        float: right;
        margin-right: 30px;
        margin-top: 30px;
        font-size: 3rem;
        border: none !important;
        background: transparent !important;
    }

    .reloj{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        overflow: visible;
        position: relative;
        /* Disable text selection highlighting. Thanks to Hermanya */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        //Para centrar
        margin: calc(50% - 100px) auto auto;
    }

    .clockpicker-dial {
        width: 200px;
        height: 200px;
        position: absolute;
        left: -1px;
        top: -1px;
    }

    .clockpicker-dial {
        -webkit-transition: -webkit-transform 350ms, opacity 350ms;
        -moz-transition: -moz-transform 350ms, opacity 350ms;
        -ms-transition: -ms-transform 350ms, opacity 350ms;
        -o-transition: -o-transform 350ms, opacity 350ms;
        transition: transform 350ms, opacity 350ms;
    }
    .clockpicker-dial-out {
        opacity: 0;
    }
    .clockpicker-hours.clockpicker-dial-out {
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    .clockpicker-minutes.clockpicker-dial-out {
        -webkit-transform: scale(.8, .8);
        -moz-transform: scale(.8, .8);
        -ms-transform: scale(.8, .8);
        -o-transform: scale(.8, .8);
        transform: scale(.8, .8);
    }


    .clockpicker-tick {
        border-radius: 50%;
        color: #666;
        line-height: 26px;
        text-align: center;
        width: 26px;
        height: 26px;
        position: absolute;
        cursor: pointer;
    }
    .clockpicker-tick.active,
    .clockpicker-tick:hover {
        background-color: rgb(192, 229, 247);
        background-color: rgba(0, 149, 221, .25);
    }

    .clockpicker-hours .clockpicker-minutes {
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .hidden-trans{
        opacity: 0 !important;
    }

    .date-time-set{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h4{
            width: 100%;
            flex-basis: 100%;
            text-align: center;
        }
    }

    button{
        background-color: whitesmoke !important;
        border: 1px solid #666 !important;
        color: #555 !important;
        box-shadow: none !important;
        border-radius: 3px !important;
    }

}
