// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*
*para importar las nueveas fuentes de los eventos
*/
@font-face {
	font-family: "Text_Event";
	src: url(../assets/fonts/arial.ttf) format("truetype");
	font-weight: 200
}

@font-face {
	font-family: "Date_Event";
	src: url(../assets/fonts/OratorStd.ttf) format("truetype");
	font-weight: 200
}


/*menu style*/
.toolbar-background-md, .toolbar-background{
	background: rgba(0,102,235,.7)
}
.toolbar-title{
	color:white;
	font-weight: lighter;
}
.toolbar-content-ios{
	.header-menu{
		padding-left:20px !important;
		text-align: left !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
}
.toolbar-title{
	display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    img{
    	margin-right: 10px;
    }
}
.user-info{
	background: #0066eb;
	padding-top: 30px;
}
.username{
	color: white;
    text-align: center;
    font-size: 1.8rem;
    margin: 0;
    padding: 10px 0 40px;
    text-transform: capitalize;
}
.userimg{
	border-radius: 100%;
    border: 1px solid #979797;
    width: 90px;
    display: block;
    margin: 0 auto;
  height: 90px;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
	border: 0
}
.list-ios > .item-block:first-child{
	border: 0
}
.menu-inner{
	.content{
	background: url(./assets/imgs/sidebar-bg.jpg);
	}
	.scroll-content{
		background: rgba(0,0,0,0.9);
		.list{
			padding-top: 40px;
		}
	}
	.item{
		background: transparent;
		color:white;
		.item-inner{
			border-bottom: 0 !important
		}
	}
	.icon-menu{
		margin-right: 10px;
	}
}


.date-time{
	padding: 10px 0 !important;
}

/**
add icon config
*/

.icon-gear{
	position: relative;
    right: calc(-50% + -21px);
    top: -19px;
}

.new-menu{
	background-color: red;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: relative;
    right: calc(-50% + -21px);
    top: -105px;
}

.point-new-menu-toggle{
	width: 8px;
	height: 8px;
	background-color: red;
	position:absolute;
	border-radius: 50%;
	left: 27px;
	top: 4px;
}

.new-action{
	background-color: red;
	display: inline-block;
	color: white;
	font-size: 1.2rem;
	padding: 2px;
	border-radius: 5px;
}

//Para el spinner loading
.loading-wrapper{
	background-color: transparent !important;
	box-shadow: 0 0 0 !important;
}

ion-title .toolbar-title, ion-title .toolbar-title-md{
	font-weight: bold;
}

.fixed-content{
 max-width: 992px !important;
  margin-left: auto;
margin-right: auto;
}