// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*
*para importar las nueveas fuentes de los eventos
*/

@font-face {
    font-family: "Text_Event";
    src: url(../assets/fonts/arial.ttf) format("truetype");
    font-weight: 200
}

@font-face {
    font-family: "Date_Event";
    src: url(../assets/fonts/OratorStd.ttf) format("truetype");
    font-weight: 200
}

ion-menu {
    /*menu style*/
    .toolbar-background-md,
    .toolbar-background {
        background: #202a33;
    }
    
    .identity{
        color: #87847f !important;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.4rem;
    }

	ion-navbar{
		height: 25px !important;
		min-height: 25px !important;
	}
	.header-menu{
		display: none !important;
	}

    .user-info {
        background: #283540;
		display: flex;
		height: 150px;
	}
	.avatar{
		flex-basis: 120px;
		width: 120px;
		height: 100%;
		.userimg {
			border-radius: 100%;
			width: 75px;
			height: 75px;
			margin-top: 32.33px;
			margin-left: 32.33px;
		}
		.icon-gear {
			position: relative;
			left: 90px;
			top: auto;
			bottom: 23px;
			width: 18px !important;
			height: 18px !important;
		}
	}
    .info{
		flex-basis: calc(100% - 150px);
		width: calc(100% - 150px);
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		align-content: center;
		.username, .email{
			margin: 0;
			padding: 0;
			color: white;
		}
		.username {
			font-size: 1.8rem;
            text-transform: capitalize;
            width:100%;
            padding-left: 1rem;
		}
		.email{
			font-size: 1rem !important;
		}
	}
    
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border: 0
    }
    .list-ios>.item-block:first-child {
        border: 0
    }
    .menu-inner {
        .content {
            background: url(./assets/imgs/sidebar-bg.jpg);
        }
        .scroll-content {
			background: #3c4a56;
			padding-left: 40px;
            .list {
				padding-top: 10px;
				ion-item{
					margin: 5px 0;
				}
            }
        }
        .item {
            background: transparent;
            color: white;
            .item-inner {
                border-bottom: 0 !important
            }
		}
		.divider{
			width: 100%;
			margin-left: -20px;
			margin-right: -40px;
			margin-top: 25px;
			margin-bottom: 25px;
			padding: 0 !important;
			height: 1px !important;
			font-size: 0 !important;
			background-color: #35424d;
			div, .item-inner{
				display: none !important;
			}
		}
		.logout{
			color: #bbbfc4 !important;
		}
        .icon-menu {
            margin-right: 10px;
        }
    }
    .date-time {
        padding: 10px 0 !important;
    }
    /**
add icon config
*/
    
    .new-menu {
        background-color: red;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: relative;
        right: calc(-50% + -21px);
        top: -105px;
    }
    
    .new-action {
        background-color: red;
        display: inline-block;
        color: white;
        font-size: 1.2rem;
        padding: 2px;
        border-radius: 5px;
    }
}

//Para el spinner loading
.loading-wrapper {
    background-color: transparent !important;
    box-shadow: 0 0 0 !important;
}

ion-title .toolbar-title,
ion-title .toolbar-title-md {
    font-weight: bold;
}

.btn-red{
    background-color: #fe324d !important;
    color: white !important;
}

button[ion-fab]{
    background-color: #fe324d !important;
    color: white !important;
}

.point-new-menu-toggle {
    width: 8px;
    height: 8px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    left: 27px;
    top: 4px;
}