tracking-event-manager {

    .segment-button, .toolbar-title{
        color: #fff !important;
    } 
    
    .segment-activated{
        color: #fff !important;
        border-bottom-color: #fff !important;
    }

    ion-toolbar .toolbar-background-md, .toolbar-background{
        background-color: #fe324d !important;
    }
}
