tracking-event-manager {
    ion-toolbar{
        background-color: #00bfa5 !important;
    }

    .segment-button{
        color: #222 !important;
    } 
    
    .segment-activated{
        color: #fff !important;
        border-bottom-color: #fff !important;
    }

    ion-toolbar .toolbar-background-md, .toolbar-background{
        background-color: #008e76 !important;
    }
}
