<ion-header>

  <ion-navbar color="base">
    <ion-title>{{'NEWEVENT.TT' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-list-header>
      {{ 'NEWEVENT.TITLE' | translate }}
    </ion-list-header> 

    <ion-item>
      <ion-label floating>{{ 'NAME' | translate }} <span style="color: red;">*</span></ion-label>
      <ion-input type="text" [(ngModel)]="name"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'NEWEVENT.TYPE' | translate }} <span style="color: red;">*</span></ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value='practice' *ngIf="!league">{{ 'NEWEVENT.TYPES.PRACTICE' | translate }}</ion-option>
        <ion-option value='game'>{{ 'NEWEVENT.TYPES.GAME' | translate }}</ion-option>
        <ion-option value='event'>{{ 'NEWEVENT.TYPES.EVENT' | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'NEWEVENT.REPEATS' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="repeats"></ion-toggle>
    </ion-item>

    <ion-item [hidden]="!showDaysRepeats()">
      <div id="repeats-days">
        <h4 (click)="selectDay('m')" [ngClass]="getSelectDays('m') ? 'select' : '' ">{{ 'DAYSWEEKS.M' | translate }}</h4>
        <h4 (click)="selectDay('tu')" [ngClass]="getSelectDays('tu') ? 'select' : '' ">{{ 'DAYSWEEKS.TU' | translate }}</h4>
        <h4 (click)="selectDay('w')" [ngClass]="getSelectDays('w') ? 'select' : '' ">{{ 'DAYSWEEKS.W' | translate }}</h4>
        <h4 (click)="selectDay('th')" [ngClass]="getSelectDays('th') ? 'select' : '' ">{{ 'DAYSWEEKS.TH' | translate }}</h4>
        <h4 (click)="selectDay('f')" [ngClass]="getSelectDays('f') ? 'select' : '' ">{{ 'DAYSWEEKS.F' | translate }}</h4>
        <h4 (click)="selectDay('sa')" [ngClass]="getSelectDays('sa') ? 'select' : '' ">{{ 'DAYSWEEKS.SA' | translate }}</h4>
        <h4 (click)="selectDay('su')" [ngClass]="getSelectDays('su') ? 'select' : '' ">{{ 'DAYSWEEKS.SU' | translate }}</h4>
      </div>
    </ion-item>

    <ion-item [hidden]="!repeats">
      <ion-label>{{'DAILY' | translate}}?</ion-label>
      <ion-toggle [(ngModel)]="repeatsDaily"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!repeats">
      <h4 class="date-time" (click)="setDate()"> {{'DATE' | translate }}: {{date}} <span style="color: red;">*</span></h4>
    </ion-item>

    <ion-item *ngIf="repeats">
      <h4 class="date-time" (click)="setDateEnd()"> {{'DATEEND' | translate }}: {{dateEnd}} <span style="color: red;">*</span></h4>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
    <ion-col>
      <ion-item>
        <h4 class="date-time" (click)="setTime()">{{'TIME' | translate }}: {{time}} <span style="color: red;">*</span></h4>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <h4 class="date-time" (click)="setTimeEnd()">{{'TIMEEND' | translate }}: {{timeEnd}} </h4>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-list>

   

    <ion-item>
      <ion-label stacked>{{"NEWEVENT.NOTIFYSTARTEVENT" | translate}} {{timeNoti}} {{"NEWEVENT.MINUTESBEFORE" |
        translate}}</ion-label>
      <ion-range min="0" max="60" [(ngModel)]="timeNoti" color="primary">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>60</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label floating>{{'DESCRIPTION' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="description"> </ion-textarea>
    </ion-item>

    <ion-item *ngIf="!league">
      <ion-label stacked>{{percentageNotification}}{{'NEWEVENT.PORCENTAGENOTIFICATION' | translate }} <span style="color: red;">*</span></ion-label>
      <ion-range min="0" max="100" [(ngModel)]="percentageNotification" color="primary">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>100</ion-label>
      </ion-range>
    </ion-item>

    <ion-item *ngIf="!league">
      <ion-label>{{'NEWEVENT.SENDNOTI.CREATED' | translate}}?</ion-label>
      <ion-toggle [(ngModel)]="notificationInCreate"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!league">
      <ion-label>{{'NEWEVENT.SEARCHPLAYER' | translate}}?</ion-label>
      <ion-toggle [(ngModel)]="searchPlayer"></ion-toggle>
    </ion-item>

    <ion-item *ngFor="let play of searchPlayers; let i=index; trackBy:trackByIndex" [hidden]="!searchPlayer">
      <ion-label floating>{{i+1}}. {{'NEWEVENT.POSITION' | translate}}</ion-label>
      <ion-input [(ngModel)]="searchPlayers[i]"></ion-input>
      <ion-icon color="primary" item-end name="md-remove-circle" (click)="removePlayerSearch(i)"></ion-icon>
    </ion-item>

    <ion-item [hidden]="!searchPlayer">
      <button ion-button (click)="addPlayerSearch()">{{"ROSTER.CREATEPLAYER" | translate}}</button>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header><strong>{{'LOCATION' | translate }}</strong></ion-list-header>

    <ion-item>
      <ion-label floating>{{'NEWEVENT.ENTERADDRES' | translate }} <span style="color: red;">*</span></ion-label>
      <ion-textarea [(ngModel)]="address"></ion-textarea>
    </ion-item>

    <!-- <ion-item [hidden]="location.place.subAdministrativeArea == ''" >{{location.place.subAdministrativeArea}}</ion-item>
    <ion-item [hidden]="location.place.thoroughfare == ''">{{location.place.thoroughfare}}</ion-item>
    <button ion-button (click)="loadPlace()">{{ 'NEWEVENT.PINMAP' | translate }}</button> -->

  </ion-list>

  <div id="map_canvas" style="width: 100%; height: 250px; "></div>

  <ion-list>
    <ion-item>
      <ion-label floating>{{'NEWEVENT.LOCATIONDETAIL' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="locationDetail"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label floating>{{'WEBSITE' | translate }}</ion-label>
      <ion-input type="url" [(ngModel)]="locationLink"></ion-input>
    </ion-item> -->
  </ion-list>

  <ion-label>{{'NEWEVENT.ADDIMAGE' | translate }}</ion-label>

  <ion-avatar [hidden]="!image">
    <img width="100%" (load)="success()" [src]="imageSrc">
    <ion-fab top right edge class="button-fab-right">
      <button ion-fab color="base" (click)="changePhoto()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
  </ion-avatar>

  <ion-avatar [hidden]="image">
    <img width="100%" src="./assets/imgs/event.png">
    <ion-fab top right edge class="button-fab-right">
      <button ion-fab color="base" (click)="changePhoto()">
        <ion-icon name="md-camera"></ion-icon>
      </button>
    </ion-fab>
  </ion-avatar>

  <button ion-button block style="margin-top: 30px;" (click)="save()">{{'SAVE' | translate }}</button>
</ion-content>