page-new-event {
    #map_canvas{
        width: 100%;
        height: 50%;
    }
    .button-fab-right{
        position: relative;
        left: calc(100% - 60px) !important;
    }

    ion-list-header{
        font-size: 13pt !important;
        text-transform: uppercase !important;
        padding-top: 30px !important;
        margin-bottom: 0 !important;
    }

    #repeats-days{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        h4{
            width: 10%;
            flex-basis: 10%;
            text-align: center;
            border: 1px solid black;
            margin-top: 0 !important;
            font-size: 2rem !important;
        }
        h4.select{
            background-color: darkcyan;
        }
    }
}
