comments {
  .scroll-content{
    margin-bottom: 0 !important;
    padding-bottom: 50px !important;
  }

  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;

  ion-content .scroll-content {
    background-color: #f5f5f5;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
    bottom: 0 !important;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px $userBackgroundColor;
      border-style: solid;
    }
  }

  .message-wrap {
      padding-top: 10px;
      padding-bottom: 10px;
    .message {
      position: relative;
      padding: 7px 0;
      padding-top: 20px;
      border-bottom: 1px outset #f5f5f5;
      .user-img {
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: calc(100% - 45px);
        flex-basis: calc(100% - 45px);
        p {
          margin: 0;
        }
        .msg-info {

          span.name{
            font-size: .8em;
            color: #008e76;
          }

          span.date{
            float: right;
            font-size: 0.8em;
            padding-right: 10px;
          }
        }

        .msg-content {
          position: relative;
          padding: 8px;
          padding-left: 0;
          padding-top: 0;
          color: #343434;
          width: auto;
          max-width: 80%;
        }

      }

      ion-spinner{
          width: 100%;
          flex-basis: 100%;
      }
    }

    .message {
        display: flex;
        flex-wrap: wrap;
        background-color: $toUserBackgroundColor;
      .msg-content {
        float: left;
      }
      .msg-detail {
        padding-left: 10px;
      }
      .msg-content {
        color: #343434;
      }

    }

  }
}
