<ion-header>

  <ion-navbar color="base">
    <!-- <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{'NAVMENU.MESSAGES' | translate}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item *ngIf="user.role.name!=='OwnerLeague'">
      <ion-avatar item-start>
        <img [src]="team.imageSrc" [hidden]="!loadImage" (load)="successImage()" >
        <img [hidden]="loadImage" src="./assets/imgs/logo-login.png">
      </ion-avatar>
      <h2 (click)="goChatTeam()" >{{team.name}} - {{'TEAMCHAT' | translate}} <div class="new-point-message" [hidden]="newMessagePeople('team')"></div></h2>
      <button (click)="goChatTeam()"  item-end ion-button class="chat">
        <img class="chat-0" src="./assets/imgs/chat-1.png">
      </button>
    </ion-item>

    <ion-item *ngIf="user.role.name==='Manager'||user.role.name==='Family'">
      <ion-avatar item-start>
        <!-- <img [src]="team.imageSrc" [hidden]="!loadImage" (load)="successImage()" > -->
        <img src="./assets/imgs/logo-login.png">
      </ion-avatar>
      <h2 (click)="goChatFamily()" >{{'CHATFORFAMILY' | translate}} <div class="new-point-message" [hidden]="newMessagePeople('family')"></div></h2>
      <button (click)="goChatFamily()"  item-end ion-button class="chat">
        <img class="chat-0" src="./assets/imgs/chat-1.png">
      </button>
    </ion-item>

    <ion-item *ngIf="user.role.name==='OwnerLeague'||user.role.name==='Manager'">
      <ion-avatar item-start>
        <img [src]="league.imageSrc" [hidden]="!loadImageLeague" (load)="successImageLeague()" >
        <img src="./assets/imgs/logo-login.png">
      </ion-avatar>
      <h2 (click)="goManagersOfTeamsLeague()" >{{'CHATMANAGERSTEAMSLEAGUE' | translate}} <div class="new-point-message" [hidden]="newMessagePeople('family')"></div></h2>
      <button (click)="goManagersOfTeamsLeague()"  item-end ion-button class="chat">
        <img class="chat-0" src="./assets/imgs/chat-1.png">
      </button>
    </ion-item>

    <ion-item *ngFor='let user of listUsers' (click)="goChat(user)" >
      <ion-avatar item-start >
        <img [hidden]="!user.loadImage" [src]="user.imgSrc" (load)="success(event, user);">
        <img [hidden]="user.loadImage" src="./assets/imgs/logo-login.png">
      </ion-avatar>

      <h2>{{user.firstName+ " "+ user.lastName}} <div class="new-point-message" [hidden]="newMessagePeople(user)"></div></h2>
      <button item-end ion-button class="chat">
        <img class="chat-0" src="./assets/imgs/chat-1.png">
      </button>

    </ion-item>

  </ion-list>

  <ion-fab bottom right>
    <button color="base" ion-fab icon-only (click)="newChat()" >
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
