<ion-header>

  <ion-navbar color="base">
    <button ion-button icon-only menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{"ROSTER.TITLE" | translate}}</ion-title>

  </ion-navbar>

</ion-header>

<div class="overlay shown" [hidden]="firstTime" (click)="hideOverlay()">
   
    <br><br><br><br><br><br>
    <div class="bottom-tutorial">
      <h2>Invite Players and managers to the team here!</h2>
    </div>
    <div class="img-down" text-right>
      <img src="./assets/imgs/down-arrow.png" alt="" width="70px">
    </div>
  </div>

<ion-content>
  <ion-list no-lines class="joinin-list">
    <ion-item (click)="toggleOverlay()">
        INVITATION CODE: {{code}}
        <ion-icon item-end [name]="arrowIcon"></ion-icon>  
    </ion-item>
  </ion-list>

  <div class="join-overlay" [hidden]="joinOverlay">
      <h3>3 Ways to onboard your roster</h3>
      <ol>
        <li>Add players to your roster. They will receive an email invitation to download Locker Room in their app store. Then, 
          using their email address, they can login.
        </li>
        <li>Players and Parents can request to join the team from the login screen by doing a search for the team an entering
          their profile information.
        </li>
        <li>Send Players and Parents the invitation code and they can join the team immediately.</li>
        <li>Bulk Upload or enter your roster from your laptop by visiting admin.lockerroomapp.com</li>
      </ol>
  </div>

  <div [hidden]="!notMembers()" class="not-players">
    <h4 [hidden]="user.role.name != 'Manager' ">{{"ROSTER.NOTPLAYERS.1" | translate}}</h4>
    <h4 [hidden]="user.role.name != 'Manager' ">{{"ROSTER.NOTPLAYERS.2" | translate}}</h4>
    <h4 [hidden]="user.role.name != 'Manager' ">{{"ROSTER.NOTPLAYERS.3" | translate}}</h4>
    <h4 [hidden]="user.role.name != 'Manager' "><a href="https://admin.lockerroomapp.com">admin.lockerroomapp.com</a></h4>
  </div>

  <ion-searchbar [hidden]="notMembers()" [(ngModel)]="filtro" showCancelButton="true" (ionInput)="search($event)" #sear>
  </ion-searchbar>



  <div class="list" [hidden]="playersOrigin.length===0">

    <div class="divider">
      <div class="left">
        <div class="line"></div>
      </div>
      <div>
        <span>{{ "PLAYER" | translate}}s</span>
      </div>
      <div class="right">
        <div class="line"></div>
      </div>
    </div>

    <div class="item" *ngFor="let player of players; let i = index" [hidden]="player.user.id == user.id">

      <div class="inner">
        <ion-avatar (click)="viewPlayer(player)" style="cursor: pointer;">
          <img [src]="player.image" [hidden]="!player.loadImage" (load)="success(event, player);">
          <img src="./assets/imgs/user.png" [hidden]="player.loadImage">
          <div class="layover" [hidden]="player.firstTime" >{{"INVITED" | translate}}</div>
        </ion-avatar>

        <h4>{{player.user.firstName}} {{player.user.lastName}}</h4>

        <div class="actions">
          <a href="#" class="chat" (click)="goChat(player.user)">Chat</a>
          <a href="#" class="edit" [hidden]="validEditEnable(player)" (click)="editMember(i, player)">{{"EDIT" |
            translate}}</a>
        </div>
      </div>

    </div>

  </div>

  <div class="list" [hidden]="managersOrigin.length===0">

    <div class="divider">
      <div class="left">
        <div class="line"></div>
      </div>
      <div>
        <span>{{ "MANAGER" | translate}}s</span>
      </div>
      <div class="right">
        <div class="line"></div>
      </div>
    </div>

    <div class="item" *ngFor="let manager of managers; let i = index" [hidden]="manager.user.id == user.id">

      <div class="inner">
        <ion-avatar (click)="viewPlayer(manager)" style="cursor: pointer;">
          <img [src]="manager.image" [hidden]="!manager.loadImage" (load)="success(event, manager);">
          <img src="./assets/imgs/user.png" [hidden]="manager.loadImage">
        </ion-avatar>

        <h4>{{manager.user.firstName}} {{manager.user.lastName}}</h4>

        <div class="actions">
          <a href="#" class="chat" (click)="goChat(manager.user)">Chat</a>
          <a href="#" class="edit" [hidden]="validEditEnable(manager)" (click)="editMember(i, manager)">{{"EDIT" |
            translate}}</a>
        </div>
      </div>

    </div>

  </div>


  <ion-fab bottom right [hidden]="user.role.name != 'Manager' ">
    <button color="base" ion-fab icon-only (click)="addPlayer()" class="invite-btn" [ngClass]="!firstTime ? 'tutorial-btn' : 'test'">
      <ion-icon name="md-add"></ion-icon> {{"INVITE" | translate}}
    </button>
  </ion-fab>

</ion-content>