page-roster {
    .scroll-content {
        background-color: #f2f5f8 !important;
    }
    ion-header,
    ion-fab {
        z-index: 99999;
    }
    .requests {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 40px;
        width: $sz;
        height: $sz;
        background: url("/assets/imgs/request-icon-deactive.png") no-repeat 50% 50%;
        background-size: contain;
    }
    .not-players {
        padding: 10px;
        h4 {
            color: #008e76 !important;
            font-size: 1.4rem !important;
            margin-top: 0 !important;
            margin-bottom: 4px !important;
        }
        .bold {
            color: #1a5d58 !important;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 10px !important;
        .divider {
            display: flex;
            flex-basis: calc(33.3333% * 3);
            margin-top: 10px;
            margin-bottom: 10px;
            div {
                flex-basis: 33.3333%;
                width: 33.3333%;
                display: flex;
                align-items: center;
                span {
                    width: 100%;
                    text-align: center;
                    display: block;
                    color: #e1e4ea;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                }
                .line {
                    height: 2px;
                    background-color: #e1e4ea;
                    flex-basis: 100%;
                    width: 100%;
                }
            }
            .left {
                padding-left: 10px;
                padding-right: 10px;
            }
            .right {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .item {
            background-color: white;
            flex-basis: 30.3333%;
            width: 30.3333%;
            margin-top: 10px !important;
            padding: 4px; //border: 1px solid #bdbdbd;
            padding: 4px;
            box-shadow: 1px 1px 1px #e3e6e8, 2px 2px 2px #eaedf0, -1px -1px 1px #e3e6e8, -2px -2px 2px #eaedf0;
            ion-avatar {
                display: flex;
                justify-content: space-around;
                max-height: 102px;
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 102px;
                    object-fit: cover;
                }
                .layover {
                    background-color: rgba( 0, 0, 0, 0.7);
                    position: relative;
                    left: 0;
                    right: 0;
                    width: 100%;
                    margin-left: -100%;
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    padding-top: calc(50% - 0.75rem);
                    text-transform: uppercase;
                }
            }
            h4 {
                margin: 0 !important;
                font-size: 1.3rem !important;
                line-height: 2rem !important;
            }
            .actions {
                border-top: 1px outset #bdbdbd;
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none !important;
                }
                .chat {
                    color: #fe324d !important;
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                }
                .edit {
                    color: #c3c6c9 !important;
                    font-size: 1.3rem;
                    line-height: 1.9rem;
                }
            }
        }
    }
    button[ion-fab] {
        background-color: #fe324d !important;
        color: white !important;
    }
    .invite-btn {
        border-radius: 50px !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        width: 100px !important;
        ion-icon {
            font-size: 1.7rem;
            padding-right: 5px;
            flex: 0;
        }
        &.tutorial-btn {
            border: 3px solid;
        }
    }
    .overlay {
        display: none;
        &.shown {
            position: fixed;
            display: block;
            padding: 40px 20px;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba( 0, 0, 0, 0.7);
            z-index: 9999;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .bottom-tutorial {
        text-align: center;
        h2 {
            color: #fff;
        }
    }
    .joinin-list {
        margin-bottom: 0 !important;
        ion-item.item {
            width: 100% !important;
            flex-basis: 100% !important;
            background-color: #f4324a !important;
            padding: 0 5px !important;
            color: #fff !important;
            font-size: 14px !important;
            letter-spacing: 1px;
            margin-top: 0 !important;
        }
    }
    .join-overlay {
        position: fixed;
        display: block;
        padding: 10px 20px;
        top: 88px;
        bottom: 0;
        right: 0;
        background: rgba(244, 50, 74, 0.9);
        z-index: 9999;
        overflow-y: auto;
        overflow-x: hidden;
        color: #fff;
        width: 100%;
        h3 {
            font-size: 16px;
            text-align: center;
            font-weight: 400;
        }
        ol {
            list-style: none;
            counter-reset: item;
            li {
                margin-bottom: 15px;
                font-size: 16px;
                counter-increment: item;
                position: relative;
            }
            li:before {
                margin-right: 10px;
                content: counter(item);
                background: #c7c4c4;
                border-radius: 100%;
                color: #000;
                width: 1.2em;
                text-align: center;
                display: inline-block;
                padding: 5px;
                position: absolute;
                left: -40px;
            }
        }
    }
}