page-roster {
    .scroll-content{
        background-color: #f2f5f8 !important;
    }

    .not-players{
        padding: 10px;
        h4{
            color: #008e76 !important;
            font-size: 1.4rem !important;
            margin-top: 0 !important;
            margin-bottom: 4px !important;
        }
        .bold{
            color: #1a5d58 !important;
        }
    }

    #list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 10px !important;
        .item {
            background-color: white;
            flex-basis: 30.3333%;
            width: 30.3333%;
            margin-top: 10px !important;
            padding: 4px;
            //border: 1px solid #bdbdbd;
            padding: 4px;
            box-shadow:  1px 1px 1px #e3e6e8, 2px 2px 2px #eaedf0, -1px -1px 1px #e3e6e8, -2px -2px 2px #eaedf0;
            ion-avatar {
                display: flex;
                justify-content: space-around;
                max-height: 102px;
                img {
                    width: 100%;
                    height: 100%;
                    max-height: 102px;
                    object-fit: cover;
                }
            }
            h4 {
                margin: 0 !important;
                font-size: 1.3rem !important;
                line-height: 2rem !important;
            }
            .actions {
                border-top: 1px outset #bdbdbd;
                display: flex;
                justify-content: space-between;
                a {
                    text-decoration: none !important;
                }
                .chat{
                    color: #fe324d !important;
                    font-size: 1.5rem;
                    line-height: 1.9rem;
                }
                .edit{
                    color: #c3c6c9 !important;
                    font-size: 1.3rem;
                    line-height: 1.9rem;
                }
            }
        }
    }

    button[ion-fab]{
        background-color: #fe324d !important;
        color: white !important;
    }

    .invite-btn{
        border-radius: 50px !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        width: 100px !important;
         ion-icon{
            font-size: 1.7rem;
            padding-right: 5px;
            flex: 0;
        }
    }
}