<!--
  Generated template for the RosterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="base">
      <button ion-button icon-only menuToggle start>
          <ion-icon name="menu"></ion-icon>
      </button>

    <ion-title>Roster</ion-title>

    <ion-buttons end [hidden]="user.role.name != Manager" >
      <button ion-button (click)="addPlayer()" >
        <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let player of players; let i = index">

          <ion-avatar style="cursor: pointer;" (click)="viewPlayer(player)" item-start [hidden]="!player.loadImage">
            <img src="{{player.image}}" (load)="success(event, player);">
          </ion-avatar>

          <ion-avatar style="cursor: pointer;" (click)="viewPlayer(player)" item-start [hidden]="player.loadImage">
              <img src="./assets/imgs/avatar.gif">
          </ion-avatar>

          <h2 style="cursor: pointer;" (click)="viewPlayer(player)" >{{player.user.firstName+ " "+ player.user.lastName}}</h2>
          <p [hidden]="!player.positions">{{player.positions}} </p>
          <button (click)="editMember(i, player)" *ngIf="user.role.name != Manager" ion-button clear item-end>Edit</button>
        </ion-item>
      </ion-list>
</ion-content>
