page-task {
    .status{
        background: transparent !important;
        box-shadow: 0 0 0 transparent !important;
        ion-icon{
            color: #008e76 !important;
            font-size: 5rem !important;
        }
    }
}
